.modal,
.overlay {
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  background-color: rgba(49, 49, 049, 0.8);
}
.modal-content {
  position: absolute;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
}
.timeSection {
  display: flex;
  flex-direction: column;
}
.close-modal {
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: transparent;
  padding: 0px;
  border-style: none;
}

.close-modal:hover {
  cursor: pointer;
}
.timeSection button {
  color: white;
  background-color: rgb(100, 24, 172);
  padding: 15px 40px;
  border-radius: 4px;
  width: 100%;
}
.balance {
  display: flex;
  justify-content: space-between;
}
.dateTime {
  display: flex;
}
.date {
  flex: 1;
}
.timeTitle {
  font-size: 1.3rem;
}
.offerTitle {
  font-size: 2rem;
}
.offer button {
  background-color: white;
  border: 1px solid rgba(100, 24, 172, 0.4);
  padding: 7px 10px;
  margin-right: 6px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.token {
  margin-top: 30px;
  display: flex;
}
.offer p {
  margin-bottom: 8px;
}
.token img {
  width: 30px;
  margin-right: 2px;
}
.closeBtn {
  width: 20px;
}
