.modal,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  background-color: rgba(49, 49, 049, 0.8);
}
.modal-content {
  position: absolute;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 500px;
  background-color: rgb(225, 3, 3);
  min-width: 300px;
}
