.modal,
.overlay {
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  background-color: rgba(49, 49, 049, 0.8);
}
.modal-content {
  position: absolute;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
}
.timeSection {
  display: flex;
  flex-direction: column;
}
.close-modal {
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: transparent;
  padding: 0px;
  border-style: none;
}

.close-modal:hover {
  cursor: pointer;
}
.timeSection button {
  color: white;
  background-color: rgb(100, 24, 172);
  padding: 15px 40px;
  border-radius: 4px;
  width: 100%;
}
.balance {
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.dateTime {
  display: flex;
  margin-bottom: 30px;
}
.date {
  flex: 1;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 18px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.time {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
}
.timeTitle {
  font-size: 1.3rem;
  margin-bottom: 5px;
}
.offerTitle {
  font-size: 2rem;
}
.offer button {
  background-color: white;
  border: 1px solid rgba(100, 24, 172, 0.4);
  padding: 7px 10px;
  margin-right: 6px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.token {
  margin-top: 30px;
  display: flex;
  margin-bottom: 12px;
}
.offer p {
  margin-bottom: 8px;
}
.token img {
  width: 30px;
  margin-right: 2px;
}
.closeBtn {
  width: 20px;
}
.amount {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.amount input {
  flex: 1;
  margin-right: 10px;
}
.amountInput {
  padding: 8px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.4rem;
}
.amountInput:focus,
.amountInput:focus-visible {
  outline: 3px solid rgb(94, 0, 78);
}
.tenYear {
  margin-bottom: 22px;
  color: rgba(0, 0, 0, 0.6);
}
.offerBtn {
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: large;
}
.btn-modal {
  margin-left: 100%;
  padding: 50px 100px;
  border-style: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: large;
}
.btn-modal:hover {
  border: 1px solid rgb(47, 63, 71);
}
